.custom-header {
  display: flex; /* Removed for Row/Col layout */
  /* Adjust padding if needed */
  background-color: #fff; /* Set background color */
  border-bottom: 1px solid #ddd; /* Add border (optional) */
  align-items: center;
  justify-content:space-around;
}

.logo-container {
  width: 50px;
  display: flex;
  align-items: center;
 
 /* Adjust width for your logo */
}

.logo-container img {
  /* Style your logo image here (e.g., width, height) */
}

.search-bar {

  flex-grow: 1; /* Removed for Row/Col layout */
}

.button-container {
   /* Add spacing between buttons */
}
.ant-input:focus {
  border-color: red;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(87,168,233, .2);
  box-shadow: 0 0 0 2px rgba(87,168,233, .2);
}